<!doctype html>
<html>
<head>
<title>Notekeeper Login</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />    
</head>
<body>
<div class="container" >
    <div class="row" style="padding:50px;">
        <p><h1>Notekeeper Login</h1></p>
        <form action="/submit" method="POST">
            <div class="mb-3">
              <label class="form-label">Login:</label>
              <input type="text" id="fname" name="login" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Password:</label>
                <input type="text" id="lname" name="password" class="form-control">
            </div>
            <div class="mb-3">
                <p>{{error}}</p>
            </div>
            <br/><br/>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
   </div>
</div>
</body>
</html>
